body {
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/4a/96/e6/4a96e602750b8ef669a77565becf3939.gif);
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-family: monospace;
    font-size: 45px;
}

p {
    font-size: 30px;
}

.line {
    height: 10px;
    width: 1000px;
    background-color: white;
    margin: 8px auto;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}